<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-button slot="start" (click)="confirmLogout()" color="secondary">Logout</ion-button>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2 class="ion-text-center"><img class="header-icon" src="assets/icon/favicon.png"> Profile</h2>
  <ion-list>
    <ion-list-header class="list-header">
      <ion-label>{{profile?.first_name}} {{profile?.last_name}}</ion-label>
    </ion-list-header>
    <ion-item class="list-content">
      <ion-label position="stacked">Username:</ion-label>
      <span class="ion-padding-start">{{profile?.display_name}}</span>
    </ion-item>
    <ion-item class="list-content">
      <ion-label position="stacked">Email:</ion-label>
      <span class="ion-padding-start">{{profile?.email}}</span>
    </ion-item>

    <ion-item *ngIf="profile" class="list-content points-section">
      <ion-label position="stacked">Points Balance:</ion-label>
      <ion-badge color="primary" style="margin-left: 20px;">
        <span>{{profile.points_balance}} </span>
        <ion-icon name="star"></ion-icon>
      </ion-badge>
    </ion-item>

    <ion-item *ngIf="profile?.allergy_ids?.length" class="list-content">
      <ion-label position="stacked">Allergies:</ion-label>
      <ion-grid>
        <ion-row *ngFor="let id of profile!.allergy_ids">
          <ion-col>{{id}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="profile?.diet_ids?.length" class="list-content">
      <ion-label position="stacked">Lifestyle Diet:</ion-label>
      <ion-grid>
        <ion-row *ngFor="let id of profile!.diet_ids">
          <ion-col>{{id}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="profile?.condition_ids?.length" class="list-content">
      <ion-label position="stacked">Medical Conditions:</ion-label>
      <ion-grid>
        <ion-row *ngFor="let id of profile!.condition_ids">
          <ion-col>{{id}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>
